.LandingPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.LandingPage .LandingPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
}

.LandingPage .LandingPageHeader .heading {
  text-align: center;
  font-weight: 700;
  line-height: 1;
  font-size: 64px;
  color: var(--text);
  transition: all 0.3s ease-in-out;
}

.LandingPage .LandingPageHeader .heading span {
  color: rgb(var(--primary));
}

.LandingPage .description {
  text-align: center;
  width: 750px;
  font-size: 18px;
  color: #666;
  transition: all 0.3s ease-in-out;
}

.LandingPage .LandingPageContent .callToActionButton {
  padding: 10px 60px;
  background-color: rgb(var(--primary));
  color: white;
  border-radius: 8px;
  font-size: 18px;
  border: 2px solid rgb(var(--primary));
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.LandingPage .LandingPageContent .callToActionButton:hover {
  background-color: rgba(var(--primary), 0.2);
  color: var(--text);
  border: 2px solid rgb(var(--primary));
}

@media (max-width: 1024px) {
  .LandingPage .LandingPageContent {
    gap: 14px;
    margin-top: 32px;
  }

  .LandingPage .LandingPageHeader .heading {
    font-size: 42px;
  }
  .LandingPage .description {
    width: 500px;
    font-size: 16px;
  }

  .LandingPage .LandingPageContent .callToActionButton {
    padding: 8px 40px;
    border-radius: 6px;
    font-size: 14px;
  }
}

@media (max-width: 566px) {
  .LandingPage .LandingPageContent {
    gap: 12px;
    margin-top: 32px;
  }

  .LandingPage .LandingPageHeader .heading {
    font-size: 32px;
  }
  .LandingPage .description {
    width: 370px;
    font-size: 13px;
  }

  .LandingPage .LandingPageContent .callToActionButton {
    padding: 6px 30px;
    border-radius: 4px;
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .LandingPage .description {
    width: 350px;
    font-size: 12px;
  }
}
