.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.inputContainer label {
  font-size: 15px;
  color: var(--text);
}

.inputContainer .inputWrapper {
  position: relative;
}

.inputContainer .inputWrapper input {
  width: 100%;
  padding: 9px;
  border-radius: 6px;
  border: 2px solid #666;
  background-color: var(--bg);
  color: var(--text);
  font-size: 14px;
}

.inputContainer .inputWrapper input:focus {
  border: 2px solid var(--text);
}

.inputContainer .inputWrapper .toggleButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: inline-flex;
  background: none;
  color: #666;
}

.inputContainer .inputWrapper .toggleButton:hover {
  color: var(--text);
}

.inputContainer .inputWrapper .toggleButton .eye {
  width: 22px;
  aspect-ratio: 1/1;
  margin-right: 6px;
}

@media (max-width: 600px) {
  .inputContainer .inputWrapper input {
    padding: 8px;
    border-radius: 6px;
    font-size: 12px;
  }

  .inputContainer label {
    font-size: 14px;
  }

  .inputContainer .inputWrapper .toggleButton .eye {
    width: 20px;
  }
}
